.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2vh 3vw;
  background-color: #5e9374;
  /* border-bottom: 0.001rem solid rgb(214, 214, 214); */
}

link,
a {
  color: red;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  gap: 1vw;
}

.navbar a:hover {
  color: white;
  transform: scale(1.3);
}
